# Node
node_modules/
dist/
.next/
coverage/
.DS_Store
.env
.env.*
npm-debug.log*
yarn-error.log

# iOS / Xcode
DerivedData/
*.xcuserdatad
*.xcworkspace/xcuserdata
*.xcuserstate
*.xcscmblueprint

# Android / Gradle
.gradle/
**/build/
local.properties
captures/
*.iml

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Misc
.idea/
.vscode/
web/.next/
